@page "/login"
@inject IAuthService AuthService
@inject NavigationManager Nav


<div class="text-center" id="login">
    <h3 class="display-4">Login</h3>
    <br />
    <br />
</div>


<div class="card" id="card-login">
    <div class="card-body">
        <h3 class="text-center">Login</h3>
        <EditForm Model="@Usuario" OnValidSubmit="Entrar">

            <div class="form-group">
                <label for="grupo">Login:</label>
                <InputText Id="nome" class="form-control" @bind-Value="Usuario.Login" />
                <ValidationMessage For="@(() => Usuario.Login)" />
            </div>

            <div class="form-group">
                <label for="grupo">Senha:</label>
                <InputText Id="nome" class="form-control" @bind-Value="Usuario.Senha" />
                <ValidationMessage For="@(() => Usuario.Senha)" />
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </EditForm>
    </div>
</div>




@code
        {
    public Usuario Usuario = new Usuario();
    protected async Task Entrar()
    {
        await AuthService.Login(Usuario);
    }
}

