<AuthorizeView Roles="Admin, Professor">
    <div >
        @context.User.Identity.Name
        &nbsp;|

        <a  href="/registro"><i class="fas fa-user-plus" style="font-size:20px; "></i></a>

        &nbsp;
        <a class="log-out" href="/logout"><i class="oi oi-account-logout" style="font-size:19px; "></i></a>
    </div>
</AuthorizeView>

<AuthorizeView Roles="Aluno">
    <div style="margin:0px 5px 0px 0px">
        @context.User.Identity.Name
        &nbsp;
        <a class="log-out" href="/logout" ><i class="oi oi-account-logout" style="font-size:19px; "></i></a>
    </div>
</AuthorizeView>

<style>
    a.log-out:hover{
        text-decoration-line: none;
        text-decoration: none;
        color: tomato;
    }
</style>