<AuthorizeView Roles="Admin, Professor">
        @context.User.Identity.Name
        <a href="/registro">|&nbsp;&nbsp;&nbsp;&nbsp;Novo Usuario</a>
        <a href="/logout">|&nbsp;&nbsp;&nbsp;&nbsp;Sair</a>
</AuthorizeView>

<AuthorizeView Roles="Aluno">
        @context.User.Identity.Name
        <a href="/logout">|&nbsp;&nbsp;&nbsp;&nbsp;Sair</a>
</AuthorizeView>