@inject HttpClient Http
@inject AppState AppState

<div class="flex-column text-center" style="margin : 10px auto 50px; width: 100%; position: absolute; bottom: 0;">
    <h4><span class="badge badge-pill " style="background:#d7d7d7;">@Fase</span></h4>
</div>

@code {
    [Parameter] public string Fase { get; set; }
    [Parameter] public EventCallback<string> OnClick { get; set; }


    protected override async Task OnInitializedAsync()
    {
        //var respose = await Http.GetJsonAsync<JogoVarejo.Shared.Models.Utils.GenericResult<Controle>>("api/v1/controle/");
        //if (respose.Sucesso)
        //{
        //    Fase = respose.Item.Fase > 0 ? $"Fase {respose.Item.Fase}" : "Aguarde. . .";
        //}
        //else
        //    Fase = $"Aguarde. . .";
    }
}
