@inject AppState AppState
@implements IDisposable
@inject AppState AppState

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Jogo Varejo</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>


<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">

        <AuthorizeView Roles="Admin, Professor, Aluno">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
        </AuthorizeView>

        <AuthorizeView Roles="Admin, Professor">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="grupo">
                    <span class="oi oi-plus" aria-hidden="true"></span> Grupo
                </NavLink>
            </li>

            <li class="nav-item px-3">
                <NavLink class="nav-link" href="controle">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Controle
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="#">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Reset BD
                </NavLink>
            </li>
        </AuthorizeView>

        <AuthorizeView Roles="Admin, Aluno">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="gerente">
                    <span aria-hidden="true"><i class="fas fa-user-tie" style="font-size:23px" ;></i></span> &nbsp; &nbsp;Gerente
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="operador">
                    <span aria-hidden="true"><i class="fas fa-user-friends" style="font-size:23px" ; &nbsp;></i></span>&nbsp; &nbsp;Operador
                </NavLink>
            </li>
        </AuthorizeView>

    </ul>

    <FaseComponent Fase="@AppState.SelectFase" />

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}


@code{
    public static class MenuFases
    {

        public static string Fase { get; set; } = ". . .";


    }

    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }

}
